PORT=3001
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/blink-builder

SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_NETWORK=mainnet
SOLANA_BLOCKCHAIN_ID=solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp

CORS_ALLOWED_ORIGINS=*

PRIORITY_FEE_MICRO_LAMPORTS=100000

JUPITER_QUOTE_API_URL=https://lite-api.jup.ag/swap/v1/quote
JUPITER_SWAP_API_URL=https://lite-api.jup.ag/swap/v1/swap
JUPITER_SLIPPAGE_BPS=50

LOG_LEVEL=info
